/*=====================
        GENERAL
=====================*/

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Fjalla+One&family=Work+Sans:wght@400;700&display=swap');

/*
font-family: 'Didact Gothic', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 400;
}

h4{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

h5{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

p, a{
    font-family: 'Fjalla One', sans-serif;
}

/*=====================
        HEADER
=====================*/

header{
    text-align: center;
}

header>h4{
    font-size: 0.7rem;
    padding: 2vh;
}

header>h1{
    font-size: 4rem;
    margin: 5vh;
}


header>h2{
    margin-top: 10.8vh;
    margin-bottom: 13.5vh;
    font-size: 6rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}



/*======ORBIS======*/
main>section>article:nth-of-type(1){
    background:linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../img/portfolio2.jpg) center/cover no-repeat;
    height: 100vh;
}

/*======GALITO'S======*/
main>section>article:nth-of-type(3){
    background:linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../img/portfolio4.jpg) center/cover no-repeat;
    height: 100vh;
}

/*=====================
    ORBIS // GALITO'S
=====================*/

main>section>article:nth-of-type(odd)>h4{
    color: #9e9e9e;
    padding-top: 16vh;
    padding-left: 16vw;
}

main>section>article:nth-of-type(odd)>h1{
    color: #ffffff;
    padding: 3vh 16vw;
    font-size: 4rem;
}

main>section>article:nth-of-type(odd)>h5{
    color: #9e9e9e;
    padding-top: 3vh;
    padding-left: 16vw;
    margin-bottom: 15vh;
}

main>section>article:nth-of-type(odd)>a{
    color: #fff;
    font-size: 0.8rem;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 2vh 2vw;
    margin-left: 16vw;
}

main>section>article:nth-of-type(odd)>a:hover{
    color: black;
    background-color: #fff;
}

main>section>article:nth-of-type(odd)>a:hover + p{
    color: white;
    opacity: 100%;
}

main>section>article:nth-of-type(odd)>p{
    text-align: right;
    font-size: 8.5rem;
    color: #9e9e9e;
    opacity: 0.2;
    margin-right: 4vw;
}



/*======ROLLR======*/

main>section>article:nth-of-type(2){
    background:url(../img/portfolio3.png) center/cover no-repeat;
    height: 100vh;
}

/*======TRETTO======*/

main>section>article:nth-of-type(4){
    background:url(../img/portfolio5.png) center/cover no-repeat;
    height: 100vh;
}

/*=====================
    ROLLR // TRETTO
=====================*/

main>section>article:nth-of-type(even)>h4{
    color: #9e9e9e;
    padding-top: 16vh;
    padding-left: 16vw;
}

main>section>article:nth-of-type(even)>h1{
    color: #000;
    padding: 3vh 16vw;
    font-size: 4rem;
}

main>section>article:nth-of-type(even)>h5{
    color: #9e9e9e;
    padding-top: 3vh;
    padding-left: 16vw;
    margin-bottom: 15vh;

}

main>section>article:nth-of-type(even)>a{
    color: #000;
    font-size: 0.8rem;
    text-decoration: none;
    border: 2px solid #000;
    padding: 2vh 2vw;
    margin-left: 16vw;
}

main>section>article:nth-of-type(even)>a:hover{
    color: #fff;
    background-color: #000;
}

main>section>article:nth-of-type(even)>a:hover + p{
    color: black;
    opacity: 100%;
}

main>section>article:nth-of-type(even)>p{
    text-align: right;
    font-size: 8.5rem;
    color: #9e9e9e;
    opacity: 0.2;
    margin-right: 4vw;
}



/*=====================
        WHAT MORE?
=====================*/

footer>article:nth-of-type(1){
    background: black center/cover no-repeat;
    width: 100vw;
    height: 100vh;
}

footer>article:nth-of-type(1)>h1{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    color: white;
    font-size: 7rem;
    padding: 10vh;
}

footer>article:nth-of-type(1)>p{
    font-family: 'Work Sans', sans-serif;
    font-size: 0.8rem;
    margin: 0px 10vw 15vh 45vw;
    color: #666666;

}

footer>article:nth-of-type(1)>a{
    font-family: 'Work Sans', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    margin-left: 45vw;
}

footer>article:nth-of-type(1)>a:hover{
    text-decoration: underline;
}

/*=====================
    Social Media
=====================*/

footer>article:nth-of-type(2){
    text-align: center;
}

footer>article:nth-of-type(2)>ul>li>a{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 4rem;
    text-decoration: none;;
    color: #000;
}

footer>article:nth-of-type(2)>ul>li{
    display: block;
    margin-top: 15vh;
}

footer>article:nth-of-type(2)>ul>li:hover{
    text-decoration: underline;
}

footer>article:nth-of-type(2)>ul>li:last-child{
    display: block;
    margin-bottom: 40vh;
}

/*====Heartbeat====*/

div>img{
    animation: heartbeat 1s infinite;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}